/.sdk.intellij
/2.iml
/бизнес процессы_1.drawio
/бизнес процессы_ведение_матча.drawio
/бизнес_процессы_выбор_настроек.drawio
/бизнес_процессы_тренер_скаут.drawio
/диаграмма_классов_основа.drawio
/диаграмма_сущность_связь.drawio
/.jdk2.intellij
